# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg

# Virtual Environment
venv/
env/
ENV/

# IDE
.idea/
.vscode/
*.swp
*.swo

# Logs
*.log

# Local configuration
config/config.yaml

# Docker
.docker/

# Celery
celerybeat-schedule
celerybeat.pid

# Testing
.pytest_cache/
.coverage
htmlcov/

# Generated files
app/generated_code.py
app/test_generated_code.py
app/requirements.txt